@media screen and (max-width: 812px) {
  .head-img {
    display: none;
  }

  #heading {
    font-size: 60px !important;
    width: 100%;
  }

  #heading2 {
    font-size: 60px !important;
    width: 100%;
  }

  #heading3 {
    font-size: 60px !important;
    width: 100%;
  }

  #favorite-heading {
    font-size: 60px !important;
    width: 100%;
  }

  .favorite-heading {
    font-size: 40px !important;
    width: 100%;
  }

  .fb-50 {
    flex-basis: 100% !important;
  }

  #body-container {
    justify-content: center;
  }

  .w-20 {
    width: 50% !important;
  }
}
