.main-container {
  background-image: url(../images/Brewery-background.jpeg);
  background-size: cover;
  min-height: 100vh;
  min-width: 100%;
}

.brewery-background {
  background-image: url(../images/bartop-background.jpeg);
  background-size: cover;
}

.favorite-background {
  background-image: url(../images/beer-lined.jpeg);
  background-size: cover;
}

#test {
  display: none;
}

.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.favorite-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.hidden {
  display: none;
}

.favorite-heading {
  font-size: 75px;
}

#heading {
  font-size: 90px;
}

#heading2 {
  font-size: 90px;
}

#favorite-heading {
  font-size: 90px;
}

.inherit-height {
  height: inherit;
}

.page-font {
  font-family: 'Sedgwick Ave Display', cursive;
}

tbody {
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

.w-35 {
  width: 35%;
}

.fb-50 {
  flex-basis: 50%;
}

.h-200 {
  height: 200px;
}
